<%- include("header") -%>
<section id="CNF">
  <h1>Acknowledgement</h1>
  <div ><strong>Rider Name</strong></div>
  <div ><%=fName%><%=lName%></div>
  <div ><strong>User Name</strong></div>
  <div ><%=uName%></div>
  <div ><strong>Address</strong></div>
  <div ><%=add%></div>
  <div ><strong>From</strong></div>
  <div ><%=frm%></div>
  <div ><strong>To</strong></div>
  <div ><%=to%></div>
  <div ><strong>Date of Journey</strong></div>
  <div ><%=dOJ%></div>
  <div ><strong>Total Pay amount</strong></div>
  <div ><%=tPrice%></div>
  <div id="editor"></div>
  <form class="" action="/" method="post">
    <button id="cmd" type="submit" class="btn btn-secondary btn-lg btn-block">Save and back to Booking</button>

  </form>

  <!-- <div class="row mb-3">
      <div class="col-4 themed-grid-col"><%=fName%></div>
      <div class="col-4 themed-grid-col"><%=lName%></div>
      <div class="col-4 themed-grid-col"><%=uName%></div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-4 themed-grid-col"><%=dOJ%></div>
      <div class="col-sm-4 themed-grid-col"><%=add%></div>
      <div class="col-sm-4 themed-grid-col"><%=tPrice%></div>
    </div> -->

</section>



<%- include("footer") -%>
